<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sarker.texta">

    <application
        android:allowBackup="true"
        android:icon="@drawable/notepad_icon"
        android:label="TextA"
        android:roundIcon="@drawable/notepad_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Binary2Text" />
        <activity android:name=".Text2Binary" />
        <activity android:name=".FontStyle" />
        <activity android:name=".EmojiArt" />
        <activity android:name=".RandomSentence" />
        <activity android:name=".TextTranslator" />
        <activity android:name=".AsciiV2" />
        <activity android:name=".Emoji" />
        <activity android:name=".Blank" />
        <activity android:name=".Option" />
        <activity android:name=".About" />
        <activity android:name=".Dashboard" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>